//* шрифты *//
$font-stack: "Montserrat", "Roboto", Arial, Verdana, Tahoma, sans-serif;
//* цвета *//
$mine-shaft-51: 				 #333; //RGB: 51, 51, 51
$mine-shaft-34: 				 #222; // RGB: 34, 34, 34
$very-dark-grayish-pink: #575153;
$dusty-gray: 						 #999;
$dove-gray: 						 #727272;
$pure-cuan:  					 	 #00C8C8;
$alebaster:              #f8f8f8;
$abbey: 								 #454647;
$gray: 									 #8E8C8C;
$white: 		 						 #fff;